@import '~styles/variables';

.MessageItem {
  $message: &;
  display: flex;
  max-width: 500px;
  margin-bottom: 20px;

  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 5px;
  }

  &__text {
    color: $white;
    line-height: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  .Time {
    font-size: 12px;
    opacity: 0.5;
  }

  .CheckMarker {
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 10px;
  }

  &--my {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;

    #{$message}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }

    .Avatar {
      margin-bottom: 15px;
      flex-direction: row-reverse;

      img {
        margin-right: 0;
        margin-left: 15px;
      }
    }

    #{$message}__bubble {
      background: $white;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.220444);
      border-radius: 12px 12px 0px 12px;

      #{$message}__text {
        color: $black;
      }
    }

    #{$message}__date {
      display: inline-block;
      width: 100%;
      text-align: right;
    }
  }

  &--image {
    #{$message}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &--audio {
    #{$message}__bubble {
      position: relative;
      overflow: hidden;
    }
  }
}
