@import '~styles/variables';

.Avatar {
    display: flex;
    align-self: flex-end;

    img {
      border-radius: 50%;
      width: 33px;
      height: 33px;
      margin-right: 15px;
      margin-bottom: 22px;
    }

    &__empty {
      border-radius: 50%;
      width: 33px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      color: $white;
    }
}