.MessagesList {
  height: 100%;
  padding: 20px;
  overflow-y: auto;

  .ant-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
}
